@use './variables' as *;
@use './mixins' as *;

//Variable to set the maximum width of the page container
$max-width-page-container: 1080px !default;

a {
  text-decoration: none;
}

body {
  background-color: $color-white;
  color: $color-black;
}

.grid-container {
  @include grid-container;
}

