@use './variables' as *;
@use './mixins' as *;

$body-font-family: 'Pragmatica', Helvetica, Arial, sans-serif;;

@font-face {
  font-family: 'Pragmatica';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Pragmatica-Book.ttf') format('truetype-variations');
}

body {
  font-family: $body-font-family;
  @include typo-make-text;
}

strong,
.strong {
  font-weight: 500;
}

img {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}
